/*tan: #EFE6DD yellow: #F9D409 green: #405026 pink: #CE5E5A*/
body
{
    background-color: #EFE6DD;
}

main
{
    margin: 15px;
}

header, h2
{
    text-align: center;
}

nav
{
    background-color: #405026;
    text-align: left;
    display: flex;
    align-items: center;
}

nav a
{
    color: #ed8c89;
    padding: 20px;
    display: block;
}
nav a:visited {color: #ed8c89;}
nav a:hover, nav a:focus, nav ul .active
{
    background-color: #484e3e;
    color: #ed8c89;
}

nav ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer
{
    font-family: monospace sans-serif;
    text-align: center;
    line-height: 30px;
}

a
{
    color: #f9b509;
    text-decoration: none;
}
a:hover{color: #f9b509}
a:visited {color: #f9b509;}

/*specific to item cards on items.html*/
.item-grid
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

img
{
    margin: 2px;
}