header
{
    text-align: center;
    
}

figure
{
    text-align: center;
    font-style: italic;
    text-decoration-color: #4A2040;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body
{
    background-color: #BFCC94;
    text-decoration-color: #062726;
    font-family:  Courier sans-serif, monospace sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

h1, h2, h3
{
    font-family: monospace serif;
    text-decoration-color: #4A2040;
}

footer
{
    font-family: monospace sans-serif;
    text-align: center;
    line-height: 30px;
}