/*https://coolors.co/4a2040-eeebd3-658e9c-116a67-bfcc94*/
header
{
    text-align: center;

}

figcaption
{
    text-align: center;
    font-style: italic;
    color: #4A2040;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body
{
    background-color: #BFCC94;
    color: #116A67;
    font-family:  Courier sans-serif, monospace sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

h1, h2, h3
{
    font-family: monospace serif;
    color: #4A2040;
}

footer
{
    font-family: monospace sans-serif;
    text-align: center;
    line-height: 30px;
}

th, td
{
    border: 2px solid #4A2040;
}

th{background-color: #658E9C;}
table tr:nth-child(even){background-color: #9fdef3;}
table tr:nth-child(odd) {background-color: #8bc5d8;}

table
{
    margin-left: auto;
    margin-right: auto;
}

form
{
    width: 200px;
    align-content: center;
    margin: auto;
    background-color: #EEEBD3;
}

form label
{
    font-family: Courier sans-serif;
    color: #116A67;
    margin: 5px;
}

form input
{
    margin: 5px;
}

form select
{
    margin: 5px;
    color: #658E9C;
}

form button
{
    margin: 10px;
    background-color: #116A67;
    color: #EEEBD3;
}