main
{
    width: 600px;
    margin: auto;
}
h1, h2, ul, div
{
    margin: 0;
    padding: 0;
}
li
{
    padding-right: 10px;
    display: inline;
}
main div
{
    position: relative;
}
.image
{
    display: none;
}
div.main-image, div.image > *
{
    box-sizing: border-box;
}