<%- include('../partials/header.ejs') %>
        <main>
            <h2>Board Games</h2>
            <ul>
                <li><a href="event.html">Catan Tournament</a></li>
                <li><a href="event.html">Chaos Monopoly Night</a></li>
                <li><a href="event.html">BYO Board Game</a></li>
            </ul>
            <h2>Table Top Games</h2>
            <ul>
                <li><a href="event.html">Intro to Pathfinder</a></li>
                <li><a href="event.html">D&D Oneshot Night</a></li>
                <li><a href="event.html">Critical Role Watch Party</a></li>
            </ul>
            <h2>Card Games</h2>
            <ul>
                <li><a href="event.html">Magic the Gathering Lunch</a></li>
                <li><a href="event.html">Pokemon Trade Night</a></li>
                <li><a href="event.html">Indie Card Game Night</a></li>
            </ul>
        </main>
<%- include('../partials/footer.ejs') %>