<%- include('../partials/header.ejs') %>
        <main>
            <% if(events.length) { %>
            <h2>Board Games</h2>
            <ul>
                <% events.forEach(event=>{
                    if(event.category === 'Board Game') { %>
                <li><a href="/events/<%= event.id %>"><%= event.title %></a></li>
                <% }); %>
            </ul>
            <h2>Table Top Games</h2>
            <ul>
                <li><a href="event.html">Intro to Pathfinder</a></li>
                <li><a href="event.html">D&D Oneshot Night</a></li>
                <li><a href="event.html">Critical Role Watch Party</a></li>
            </ul>
            <h2>Card Games</h2>
            <ul>
                <li><a href="event.html">Magic the Gathering Lunch</a></li>
                <li><a href="event.html">Pokemon Trade Night</a></li>
                <li><a href="event.html">Indie Card Game Night</a></li>
            </ul>
            <% } else { %>
                <p>There are no events to display</p>
            <% } %>
        </main>
<%- include('../partials/footer.ejs') %>