header {
    color: #2D3047;
    background-color: #de7aca;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    padding: 5px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userNav {
    height: 87px;
    display: flex;
    align-items: center;
}

header a {
    margin: 5px;
}

footer {
    color: #2D3047;
    background-color: #de7aca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

footer a {
    margin: 5px;
}

footer i {
    margin: 5px;
}

main{
    min-height: 400px;
}

a {
    color: #92140C;
    text-decoration: none;
}

hr {
    border: 1px solid #2D3047;
    background-color: #2D3047;
}