<footer>
    <a href="https://webpages.charlotte.edu/sgrace8/">UNCC Page</a> | 
    <a href="https://github.com/SGrace11/SGrace11.github.io">GitHub</a> | 
    <a href="https://sgrace11.github.io/">GitHub Page</a> | 
    <a href="https://www.freecodecamp.org/sarahgrace">FreeCodeCamp</a> | 
    <a href="https://www.linkedin.com/in/sarah-grace-063a47200/">LinkedIn</a><br>
    Created by <a href="gracetechdesigns.com/">Grace Tech Designs</a> &copy;2022.<br>
    <a href="https://validator.w3.org/">
        <img src="images/button_validation_html5.png" alt="HTML5 validation button">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/">
        <img src="images/button_validation_css.png" alt="CSS validation button">
    </a>
</footer>