<header>
    <h1>Sarah Grace | ITIS3135 | Sage Gecko</h1><br>
    <nav><a href="./">Home</a> | 
        <a href="introduction.html">Introduction</a> | 
        <a href="contracts.html">Contract</a> | 
        <a href="tables.html">Table</a> | 
        <a href="forms.html">Form</a> | 
        <a href="firstscripts.html">First JS</a> | 
        <a href="polygons.html">Polygon</a> | 
        <a href="slideshow.html">Slideshow</a> | 
        <a href="image-swap.html">Image Swap</a>
    </nav>
    <nav>
        <a href="brand-sage-geckos.html">Brand Page</a> | 
        <a href="stuff/Fun & Crappy Page.htm">Crappy Page</a> | 
        <a href="hobby/index.html">Midterm Page</a>
        <!--Any other non meshing sites-->
    </nav>
</header>