<%- include('partials/header.ejs') %>
        <main>
            <h2>Welcome to Board Time!</h2>
            <p>
                Join Charlotte's growing boardgame and TTRPG community. Make new friends, find new favorite games, and never be bored again!
                <br> 
                Find events to attend or host your own! Just go to our Events page.
            </p>
        </main>
<%- include('partials/footer.ejs') %>