<footer>
    <div>
        &copy;BoardTime
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</footer>
</body>
</html>